<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Racing games tribute</title>
</head>

<body>
    <h1>Racing game tribute page</h1>

    <p>Racing games are a video game genre in which the player participates in a racing competition with any type of
        land, water, air, or space vehicles. They may be based on anything from real-world racing leagues to fantastical
        settings. They are distributed along a spectrum between simulations and simplified arcade-style racing games.
        Go-kart racing games emerged in the 1990s as a popular sub-genre of the latter. Racing games may also fall under
        the category of sports games.</p>

    <a href="https://en.wikipedia.org/wiki/Racing_game">go to Racing game Wiki</a>



    <h2>Gran Turismo</h2>

    <p>Gran Turismo[a] (GT) is a series of racing simulation video games developed by Polyphony Digital. Developed for
        PlayStation systems, Gran Turismo games are intended to emulate the appearance and performance of a large
        selection of vehicles, most of which are licensed reproductions of real-world automobiles. Since the franchise's
        debut in 1997, over 80 million units have been sold worldwide for the PlayStation, PlayStation 2, PlayStation 3,
        PlayStation 4, and PlayStation Portable, making it the highest selling video game franchise under the
        PlayStation brand</p>

    <a href="https://www.gran-turismo.com/us/products/gtsport/">go to Gran Turismo website</a>

    <h2>Forza Motorsport</h2>

    <p>Forza Motorsport is a 2005 simulation racing video game developed by Turn 10 Studios and published by Microsoft
        Game Studios for the Xbox gaming system. The word Forza is Italian for strength. The game is the first
        installment in the Forza series, a series that has continued on Microsoft's subsequent consoles, the Xbox 360
        and the Xbox One. It features over 200 cars and multiple real world and fictional race courses. It also featured
        online multiplayer via Xbox Live. It is compatible on the Xbox 360 via backwards compatibility.</p>

    <a href="https://forzamotorsport.net/en-US">go to Forza Motorsport website</a>

    <h2>Assetto Corsa</h2>

    <p>Assetto Corsa (Italian for "Race Setup") is a sim racing video game developed by the Italian video game developer
        Kunos Simulazioni. It is designed with an emphasis on a realistic racing experience with support for extensive
        customization and moddability. The game was first released through the Steam Early Access program on 8 November
        2013,[1] and officially left Early Access as final release version on 19 December 2014.[2]</p>

    <a href="https://store.steampowered.com/app/244210/Assetto_Corsa/">go to Assetto Corsa website</a>

    <p>
        <a href="about">About</a>
    </p>
</body>

</html>